.container {
  position: relative;
  max-height: 0;
  backface-visibility: hidden;
  transform: perspective(800px) rotateX(90deg);
  transition: transform 0.2s ease-in, all 0.3s ease-in;

  &.isOpen {
    max-height: 300px;
    transform: perspective(800px) rotateX(0);
  }
}

.title {
  margin: 0;
  padding: 12px 24px;
  font-size: 18px;
}